@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500&display=swap");
.java-logo {
  width: 120px;
}
.section-container-2 {
  position: relative;
}
.sec22-container {
  position: absolute;
  top: -32%;
}
.section-container-2 {
  font-family: "Inter", sans-serif;
}
@media (max-width: 767px) {
  .eclipse-gri {
    width: 15%;
    margin-top: -13%;
  }
  .gri-logo {
    width: 15%;
  }
}
